In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import os
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
sns.set_style("ticks")
import warnings
warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'
import shutil
from os import listdir
from os.path import join, isfile
import datetime as dt

from pathlib import Path

In [2]:
#Find the current working directory

Path.cwd()

PosixPath('/Users/mhausch/Data/Prod_Dashboards/Source')

In [3]:
plot_path = Path("../Plots")
data_path = Path("../Data")

In [4]:
#Define the path to the different directories

#Define the pqth to the data directory
dir_path = "../Data"
file_str = "all_data.csv"

plot_path = Path("../Plots")
data_path = Path("../Data")

#filenames
data_name = Path("all_data.csv")

In [5]:
#Option (1) strings separated by comma
path_file_path = Path(dir_path,file_str )

In [6]:
option_2 = Path(data_path,data_name )

#Option 2 two path
data = pd.read_csv(option_2 )

In [7]:
data["Date Received"] =pd.to_datetime(data["Date Received"])
data = data.set_index("Date Received")

In [8]:
data.index.max()

Timestamp('2023-11-29 00:00:00')

In [9]:
data.sample(1)

,Reporting Country ↑,Accession #,Request Type,Account: Account Name,Contact: Full Name,Test Ordered,Sample Gene Panel,LIMS Project ID,Billing Type,Cancer Type,Final Report Date,Latest Report Date,Reporting Country,Type,Cancer Type_mapped,Reporting Country_mapped,Product,AE_supported,Currency,Sub_region,Month,Year,Quarter,Sales,Year_Month,Month_to_match,new LIMS Project ID,Quarter_Year,adv_Sub_region
Date Received,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2022-05-10,FR,A0511926,Pharma,AZN_96: Institut Universitaire du Cancer de To...,Florence Dalenc,Guardant 360,2.11,AZN_96,Pharma : US,Breast Carcinoma,5/14/2022,5/14/2022,FRANCE,Biopharma,Breast,FRANCE,1,non_AE,EUR,Europe,5,2022,2,1,2022-05-01,2022-5,NaN,2022Q2,Europe

In [10]:
columns = ["Reporting Country", "Type", "Year", "Quarter"]

final_data  = data[columns].sort_index()
final_data

              Reporting Country        Type  Year  Quarter
Date Received
2020-01-02       UNITED KINGDOM  Commercial  2020        1
2020-01-02       UNITED KINGDOM   Biopharma  2020        1
2020-01-02       UNITED KINGDOM  Commercial  2020        1
2020-01-02                SPAIN         GAP  2020        1
2020-01-02       UNITED KINGDOM         GAP  2020        1
...                         ...         ...   ...      ...
2023-11-29                SPAIN        ISTs  2023        4
2023-11-29                ITALY   Biopharma  2023        4
2023-11-29              GERMANY   Biopharma  2023        4
2023-11-29                SPAIN  Commercial  2023        4
2023-11-29       UNITED KINGDOM        ISTs  2023        4

[20916 rows x 4 columns]

In [11]:
data_2022 = final_data.loc["2022-01-01":"2022-11-29"]

In [12]:
data_2023 = final_data.loc["2023-01-01":"2023-11-29"]

In [13]:
data_2022

              Reporting Country        Type  Year  Quarter
Date Received
2022-01-03               TURKEY   Biopharma  2022        1
2022-01-03               TURKEY  Commercial  2022        1
2022-01-03               TURKEY   Biopharma  2022        1
2022-01-03               TURKEY   Biopharma  2022        1
2022-01-03               TURKEY  Commercial  2022        1
...                         ...         ...   ...      ...
2022-11-29               CANADA        ISTs  2022        4
2022-11-29       UNITED KINGDOM  Commercial  2022        4
2022-11-29               CANADA  Commercial  2022        4
2022-11-29               TURKEY   Biopharma  2022        4
2022-11-29       UNITED KINGDOM  Commercial  2022        4

[4780 rows x 4 columns]

In [14]:
data_2022.groupby(["Type"]).count()

            Reporting Country  Year  Quarter
Type
Biopharma                2474  2474     2474
Commercial               1460  1460     1460
GAP                        65    65       65
ISTs                      780   780      780

In [15]:
data_2023.groupby(["Type"]).count()

            Reporting Country  Year  Quarter
Type
Biopharma                3331  3331     3331
Commercial               2096  2096     2096
GAP                        95    95       95
ISTs                     1750  1750     1750

In [16]:
data_2023.shape, data_2022.shape

((7802, 4), (4780, 4))

UK Analysis

In [17]:
columns = ["Reporting Country", "Type", "Year", "Quarter","Account: Account Name"]

UK_data  = data[columns].sort_index()

UK_data = UK_data[(UK_data["Reporting Country"] == "UNITED KINGDOM") & (UK_data["Type"] == "Commercial") ]

In [18]:
UK_data

,Reporting Country,Type,Year,Quarter,Account: Account Name
Date Received,,,,,
2020-01-02,UNITED KINGDOM,Commercial,2020,1,University Hospitals Of Leicester
2020-01-02,UNITED KINGDOM,Commercial,2020,1,Maidstone and Tunbridge Wells NHS Trust
2020-01-02,UNITED KINGDOM,Commercial,2020,1,The Nuffield Hospital Guildford
2020-01-08,UNITED KINGDOM,Commercial,2020,1,Mount Alverina Hospital
2020-01-10,UNITED KINGDOM,Commercial,2020,1,The Nuffield Hospital Guildford
...,...,...,...,...,...
2023-11-27,UNITED KINGDOM,Commercial,2023,4,Elstree Cancer Centre
2023-11-27,UNITED KINGDOM,Commercial,2023,4,Spire Leicester Hospital
2023-11-28,UNITED KINGDOM,Commercial,2023,4,Guys Hospital
2023-11-29,UNITED KINGDOM,Commercial,2023,4,Kent Oncology Centre
2023-11-29,UNITED KINGDOM,Commercial,2023,4,Guys Hospital

In [19]:
uk_accounts = UK_data.loc["2023-01-01":"2023-11-29", "Account: Account Name"].value_counts()

In [20]:
uk_accounts.iloc[25:40]

Account: Account Name
EDX Medical Ltd                                                        15
NHS - University Hospitals Morecambe Bay                               14
Maidstone and Tunbridge Wells NHS Trust                                14
NHS - Royal Free Hospital                                              14
St Georges Hospital                                                    14
NHS - Arrowe Park                                                      14
NHS - West Suffolk                                                     14
Beatson West of Scotland Cancer Centre                                 13
Department of Oncology Chelsea and Westminster Hospital                12
Oxford University Hospitals NHS Foundation Trust Churchill Hospital    12
Poole Hospital NHS Foundation Trust                                    11
The Royal Marsden Hospital                                             11
Royal United Hospitals Bath                                            10
Spire Leicester Hospital                                               10
Southampton General Hospital                                            9
Name: count, dtype: int64